<!DOCTYPE html>
<html>
 <head>
   <title>Job Board</title>
   <link rel="stylesheet" href="/assets/css/styles.css" />
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
 </head>
 <body>
   <header></header>
   <nav>
     <a href="/#/jobs">All Jobs  </a><a href="mailto:job-board@aol.com">Contact Us</a>
   </nav>
   {{{body}}}
   <footer>
     <p>Developed By Giron | Shapiro | Wightman</p>
   </footer>
 </body>
</html>
