body{
  font-family: 'Roboto', sans-serif;
  background-color: gray;
}

header{
  margin-top: -8px;
  margin-left: -60px;
  background-image: url("http://www.bri.ucla.edu/sites/default/files/Job%20banner.jpg");
  background-position: center;
  background-size: cover;
  width: 110%;
  height: 150px;
}

nav{
  background-color: black;
  text-align: center;
  width: 110%;
  margin-left: -70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav>a{
  color: white;
  text-decoration: none;
}

nav>:first-child{
  border-right: 2px solid white;
  margin-right: 5px;
  padding-right: 4px;
}

nav>:last-child{
  padding-left: 3px;
}

a:hover{
  color: red;
}

a:active{
  color: purple;
}

footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 41%;
  margin-bottom: 10px;
}

.view-header{
  text-align: center;
}

.add-form{
  text-align: center;
}
