<div class="view-job">
  <h2>{{vm.job.title}}</h2>
  <h4>Location: {{vm.job.location}}</h4>
  <h4>POC: <a href="mailto:{{vm.job.poc}}@aol.com">{{vm.job.poc}}</a></h4>
  <h4>Description: {{vm.job.desc}}</h4>
</div>

<div class="edit-job"><h2>Edit Job Listing</h2>
  <form>
    <input type="text" placeholder="Title" data-ng-model="vm.job.title" />
    <input type="text" placeholder="Location" data-ng-model="vm.job.location" />
    <input type="text" placeholder="Point of Contact" data-ng-model="vm.job.poc" />
    <input type="text" placeholder="Description" data-ng-model="vm.job.desc" />
    <button type="button" data-ng-click="vm.update()">Edit Listing</button>
    <button data-ng-click="vm.destroy()">Delete Listing</button>
  </form>
</div>
</div>
